<div class="container z-index-9 position-relative">
	<div class="row py-8">
		<div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 wow fadeIn" data-wow-delay="200ms">
			<div class="footer-logo mb-1-9">
				<img src="/assets/img/logos/logo-inner1.png" alt="...">
			</div>
			<ul class="list-unstyled mb-0">
				<li class="mb-3 d-flex align-items-baseline">
					<a href="mailto:sales@dockcontainers.com" class="text-white text-primary-hover"><i
							class="far fa-envelope text-primary display-25 me-4"></i>sales@dockcontainers.com</a>
				</li>
				<li class="mb-3 d-flex align-items-baseline">
					<a href="tel:+1 (562) 610 5050" class="text-white text-primary-hover"><i
							class="fas fa-mobile-alt text-primary display-25 me-4"></i>+1 (562) 610 5050</a>
				</li>
				<li class="text-white d-flex align-items-baseline">
					<i class="fas fa-map-marker-alt text-primary display-25 me-4"></i>15015 123 Avenue Northwest,<br> Edmonton AB,<br> Canada.
				</li>
				<li class="text-white d-flex align-items-baseline">
					<i class="fas fa-map-marker-alt text-primary display-25 me-4"></i>2402 E Esplanade Ln #601,<br>Phoenix,<br>AZ 85016.
				</li>
			</ul>
		</div>
		<div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-sm-0 wow fadeIn" data-wow-delay="350ms">
			<h3 class="text-white h5 mb-3">Quick links</h3>
			<ul class="footer-list list-unstyled">
				<li><a href="/home.html">Home</a></li>
				<li><a href="/about.html">About Us</a></li>
				<li><a href="/containers.html">Container</a></li>
			</ul>
		</div>
		<div class="col-lg-2 col-xl-2 col-md-3 col-sm-6 mt-2-2 mt-md-0 wow fadeIn" data-wow-delay="500ms">
			<h3 class="text-white h5 mb-3">Support</h3>
			<ul class="footer-list list-unstyled">
				<li><a href="/contact.html">Contact Us</a></li>
				<li><a href="/services.html">Our Services</a></li>
			</ul>
		</div>
		<div class="col-lg-4 col-xl-4 col-md-12 col-sm-6 offset-xl-1 wow fadeIn mt-2-2 mt-lg-0"
			data-wow-delay="650ms">
			<div class="d-flex align-items-center">
				<div class="flex-grow-1 ms-lg-3">
					<h3 class="text-white h5">Let's Connect!</h3>
					<p class="fs-sm mb-4 text-white opacity4">Connect with us today as we aim to assist you with your business.</p>
				</div>
			</div>
			<div class="flex-grow-1 ms-lg-3">
				<h3 class="text-white h5">We accept all types of card!</h3>
				<p class="fs-sm mb-4 text-white opacity4">Make payment today.</p>
				<img src="/assets/img/icons/all cards.png" alt="..." class="img-fluid">
			</div>
		</div>
	</div>
</div>
<div class="border-top border-color-light-white z-index-9 position-relative wow fadeIn"
	data-wow-delay="700ms">
	<div class="container">
		<div class="row align-items-center py-3">
			<div class="col-md-7 col-lg-6 text-center text-md-start order-2 order-md-1">
				<p class="d-inline-block text-white mb-0">
					&copy; 
					<span class="current-year"></span>
					Dock containers - All rights reserve
				</p>
			</div>
			<div class="col-md-5 col-lg-6 text-center text-md-end mb-3 mb-md-0 order-1 order-md-2">
				<ul class="social-icon-style1 mb-0">
					<li>
						<a href="/#!"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li>
						<a href="/#!"><i class="fab fa-twitter"></i></a>
					</li>
					<li>
						<a href="/#!"><i class="fab fa-youtube"></i></a>
					</li>
					<li>
						<a href="/#!"><i class="fab fa-linkedin-in"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>