<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- metas -->
<meta name="author" content="Website Design Templates" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="Transport and Logistics HTML Template" />
<meta name="description" content="Upfront - Transport and Logistics HTML Template" />
<!-- title  -->
<title>Upfront - Transport and Logistics</title>
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- plugins -->
<link rel="stylesheet" href="/assets/css/plugins.css">
<!-- search css -->
<link rel="stylesheet" href="/assets/search/search.css">
<!-- quform css -->
<link rel="stylesheet" href="/assets/quform/css/base.css">
<!-- core style css -->
<link href="/assets/css/styles.css" rel="stylesheet">