<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- metas -->
<meta name="author" content="Website Design Templates" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="Transport, containers, buy, sell, Logistics, Dock Container and Logistics Company, Dock Container" />
<meta name="description" content="Dock Container and Logistics Company is a global business engaged in the sales, servicing and delivery of premium quality shipping containers." />
<!-- og -->
<meta property="og:title" content="Dock Container and Logistics Company" />
<meta property="og:url" content="https://dockcontainers.com" />
<meta property="og:description" content="Dock Container and Logistics Company is a global business engaged in the sales, servicing and delivery of premium quality shipping containers." />
<meta property="og:type" content="website" />
<meta property="og:image" itemprop="image" content="http://dockcontainers.com/assets/img/bg/og-banner-2.png" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="400" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="og:site_name" content="Dock Container and Logistics Company" />
<!-- title  -->
<title>Dock Container and Logistics Company</title>
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- plugins -->
<link rel="stylesheet" href="/assets/css/plugins.css">
<!-- search css -->
<link rel="stylesheet" href="/assets/search/search.css">
<!-- quform css -->
<link rel="stylesheet" href="/assets/quform/css/base.css">
<!-- core style css -->
<link href="/assets/css/styles.css" rel="stylesheet">