<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- metas -->
<meta name="author" content="Website Design Templates" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="Transport and Logistics HTML Template" />
<meta name="description" content="Upfront - Transport and Logistics HTML Template" />
<!-- title  -->
<title>Upfront - Transport and Logistics</title>
<!-- favicon -->
<link rel="shortcut icon" href="/assets/img/logos/favicon.png" />
<link rel="apple-touch-icon" href="/assets/img/logos/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/logos/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/logos/apple-touch-icon-114x114.png" />
<!-- plugins -->
<link rel="stylesheet" href="/assets/css/plugins.css">
<!-- search css -->
<link rel="stylesheet" href="/assets/search/search.css">
<!-- quform css -->
<link rel="stylesheet" href="/assets/quform/css/base.css">
<!-- core style css -->
<link href="/assets/css/styles.css" rel="stylesheet">