/* html {
    height: 100%;
    width: 100%;
} */
  
  /*Carousel*/
carousel {
    display: flex;
    overflow: clip;
    position: relative;
    gap: 10rem;
    width: 100%;
    /*justify-content: center;*/
    padding: 2rem;
}
  
  carousel::before,
  carousel::after {
    content: "";
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    height: 100%;
    width: 10rem;
    z-index: 2;
  }
  
  carousel::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  carousel::before {
    left: 0;
    top: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-10rem * 8));
    }
  }
  
  carousel .logo {
    object-fit: contain;
    cursor: pointer;
    min-height: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    border-radius: 0.25rem;
    filter: grayscale(100%);
    animation: scroll 10s linear infinite;
  }