<div class="container">
	<div class="row g-0 overlap-column">
		<div class="col-lg-6 border-radius-10 bg-img cover-background"
			data-background="/assets/img/banner/banner-02.jpg"></div>
		<div class="col-lg-6">
			<div class="common-border bg-white p-1-9 p-md-2-4 p-xl-7 border-radius-10">
				<h3 class="mb-1-9 font-weight-800">Read to get <span class="text-secondary">started?</span>
				</h3>
				<form class="quform" action="https://onefinanceblog.com/mail/send" method="post">
					<div class="quform-elements">
						<div class="row">
							<!-- Begin Text input element -->
							<div class="col-md-6">
								<div class="quform-element form-group">
									<label for="name">Your Name <span
											class="quform-required">*</span></label>
									<div class="quform-input">
										<input class="form-control" id="name" type="text" name="name"
											placeholder="Your name here" />
									</div>
								</div>
							</div>
							<!-- End Text input element -->
							<!-- Begin Text input element -->
							<div class="col-md-6">
								<div class="quform-element form-group">
									<label for="email">Your Email <span
											class="quform-required">*</span></label>
									<div class="quform-input">
										<input class="form-control" id="email" type="text" name="email"
											placeholder="Your email here" />
									</div>
								</div>
							</div>
							<!-- End Text input element -->
							<!-- Begin Text input element -->
							<div class="col-md-6">
								<div class="quform-element form-group">
									<label for="subject">Your Subject <span
											class="quform-required">*</span></label>
									<div class="quform-input">
										<input class="form-control" id="subject" type="text" name="subject"
											placeholder="Your subject here" />
									</div>
								</div>
							</div>
							<!-- End Text input element -->
							<!-- Begin Text input element -->
							<div class="col-md-6">
								<div class="quform-element form-group">
									<label for="phone">Contact Number</label>
									<div class="quform-input">
										<input class="form-control" id="phone" type="text" name="phone"
											placeholder="Your phone here" />
									</div>
								</div>
							</div>
							<!-- End Text input element -->
							<!-- Begin Textarea element -->
							<div class="col-md-12">
								<div class="quform-element form-group">
									<label for="message">Message <span
											class="quform-required">*</span></label>
									<div class="quform-input">
										<textarea class="form-control" id="message" name="message" rows="3"
											placeholder="Tell us a few words"></textarea>
									</div>
								</div>
							</div>
							<!-- End Textarea element -->
 							<!-- Begin Submit button -->
							<div class="col-md-12">
								<div class="quform-submit-inner">
									<button class="butn theme butn-md" type="submit"><span>Send
											Message</span></button>
								</div>
								<div class="quform-loading-wrap text-start"><span
										class="quform-loading"></span></div>
							</div>
							<!-- End Submit button -->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>