<section id="testimonials" class="pb-0 overflow-visible bg-light">
	<div class="container">
		<div class="text-center mb-5 w-95 w-md-90 w-lg-70 w-xl-60 mx-auto wow fadeIn" data-wow-delay="200ms">
			<span class="text-uppercase letter-spacing-2 font-weight-700 small mb-3 d-block">testimonials</span>
			<h2 class="mb-0 font-weight-800 h1">We offer best types of services for our <span
					class="text-secondary">great customers</span></h2>
		</div>
		<div class="bg-dark cover-background py-5 py-lg-8 px-4 rounded testimonial-block">
			<div class="testimonial-style3 owl-carousel owl-theme mt-2">
				<div class="testmonial-single text-center">
					<img src="/assets/img/avatar/avatar-01.jpg" alt="..." class="rounded-circle">
					<span class="h1 align-top d-block my-4"><i class="ti-quote-left text-primary"></i></span>
					<p class="lead mb-4 w-lg-85 w-xl-70 mx-auto text-white">It fits our needs perfectly. I am
						completely blown away. Very easy to use. Nice work on your cargo. Thanks cargo! Cargo
						has got everything I need. It makes my life a lot easier. Absolutely wonderful!</p>
					<h6 class="letter-spacing-1 text-secondary">Kristin Salas</h6>
					<span
						class="mb-0 text-uppercase letter-spacing-2 font-weight-700 small mb-3 d-block text-primary">Relations
						Specialist</span>
				</div>
				<div class="testmonial-single text-center">
					<img src="/assets/img/avatar/avatar-02.jpg" alt="..." class="rounded-circle">
					<span class="h1 align-top d-block my-4"><i class="ti-quote-left text-primary"></i></span>
					<p class="lead mb-4 w-lg-85 w-xl-70 mx-auto text-white">It really saves me time and effort.
						cargo is exactly what our business has been lacking. I will let my mum know about this,
						she could really make use of cargo! I use cargo often. It's exactly what I've been
						looking for.</p>
					<h6 class="letter-spacing-1 text-secondary">Dennis Dixon</h6>
					<span
						class="mb-0 text-uppercase letter-spacing-2 font-weight-700 small mb-3 d-block text-primary">Loadmaster</span>
				</div>
				<div class="testmonial-single text-center">
					<img src="/assets/img/avatar/avatar-03.jpg" alt="..." class="rounded-circle">
					<span class="h1 align-top d-block my-4"><i class="ti-quote-left text-primary"></i></span>
					<p class="lead mb-4 w-lg-85 w-xl-70 mx-auto text-white">Wow what great service, I love it!
						Needless to say we are extremely satisfied with the results. I would be lost without
						cargo. Cargo saved my business. I would gladly pay over 600 dollars for cargo. I would
						be lost without cargo.</p>
					<h6 class="letter-spacing-1 text-secondary">James Bulger</h6>
					<span
						class="mb-0 text-uppercase letter-spacing-2 font-weight-700 small mb-3 d-block text-primary">Crew
						Supervisor</span>
				</div>
			</div>
		</div>
	</div>
</section>